<div class='container customContainer'>
	<div> 		
		
		<table class='table table-hover table-bordered table-condensed'>
			<thead>
				<tr>					
					<th class='customInteger'>Vencimento</th>
					<th class='customColumn'>Conta</th>
					<th class='customColumn'>Categoria</th>
					<th class='customColumn'>Valor(R$)</th>
					<th>Saldo(R$)</th>
					<th></th>
					<th></th>
					<th></th>
				</tr>				
			</thead>
			<tbody>
				<tr 
					ng-repeat='row in resumoMensal' 
					ng-class="
						{
							'customNegativeRow':row.VALOR < 0
							,'customPositiveRow': row.VALOR >=0
						}
					">									
					<td class='customInteger' ng-bind="row.VENCIMENTO"'></td>
					<td class=''>{{row.CONTA}}</td>
					<td class='customColumn'>{{row.CATEGORIA}}</td>
					<td class= 'customFloat'
						ng-class="{
							'customNegative':row.VALOR < 0
							,'customPositive': row.VALOR >=0
							}">
						{{row.VALOR | currency: ''}}
					</td>
					<td class= 'customFloat'
						ng-class="{
							'customNegative':row.SALDO < 0
							,'customPositive': row.SALDO >=0
							}">
						{{row.SALDO | currency: ''}}
					</td>
					<td class='conta'><a href="#/contaDetalhe/{{row.CD_CONTA +'/'+ cd_competencia+'/'+row.DT_VENCIMENTO}}">
						<div ng-show='!row.CATEGORIA'>
							<button
								class='btn-success btn-xs' 								
							>								
								<div class="ui-pg-div">
									<span class="ui-icon ace-icon fa fa-eye white"></span>							
								</div>
							</button>
						</div>
					</td>
					<td>					
						<button 
							class='btn-primary btn-xs'
							ng-show='row.CATEGORIA'
							ng-click="changeForm(row.CD_MOVIMENTO,row.CD_CATEGORIA,row.CD_CONTA, row.VALOR, row.DT_VENCIMENTO, cd_competencia)"
						>
							<div class='ui-pg-div'>							
								<span class="ui-icon ace-icon fa fa-pencil white"></span>
							</div>
						</button>					
					</td>
					<!-- E X C L U I R-->
					<td>
						<button
							class='btn-danger btn-xs' 
							ng-show='row.CATEGORIA'
							ng-click="deleteMovimento(row.CD_MOVIMENTO)"						
						>
						<div 
							class="ui-pg-div"
						>

							<span class="ui-icon ace-icon fa fa-trash-o white"></span>							
						</div>
						</button>
					</td>							
					<!-- E X C L U I R-->				
				</tr>	
			</tbody>		
		</table>
	</div>	
</div>

<div 
	class='container customContainer'	

>
	<label>Competência:</label>
		<select 
			ng-model='cd_competencia'
			ng-options="competencia.CD_COMPETENCIA as competencia.NM_COMPETENCIA for competencia in competencias"
			ng-change='getResumoMensalJson(cd_competencia)'
		>
			<option value='' disabled selected>Selecione uma competência </option>
		</select>
		<a href='#/contas'><button class='btn btn-xs btn-success'>Contas</button></a>
		<a href='#/categorias'><button class='btn btn-xs btn-success'>Categorias</button></a>
</div>

<div class='container customContainer'>
	<!-- A L T E R A R-->
	<div class="widget-box" ng-show='post'>
		<div class="widget-header">
			<h4 class="widget-title">Alterar Movimento</h4>
		</div>
		<div class="widget-body">
			<div class="widget-main no-padding">
				<form >					
					<fieldset>
						<label>Categoria</label>
						<select
							class='form-control' 
							ng-model="cd_categoria"
							ng-init="cd_categoria = cd_categoria"
							ng-options="+categoria.CD_CATEGORIA as categoria.NM_CATEGORIAS for categoria in categorias"
						>
							<option value='{{cd_categoria}}' selected>{{cd_categoria}} </option>
						</select><br>
						<label>Conta</label>
						<select
							class='form-control'  
							ng-model="cd_conta"
							ng-init="cd_conta = cd_conta"
							ng-options="+conta.CD_CONTA as conta.NM_CONTA for conta in contas"
						>
							<option value='{{cd_conta}}' selected>{{cd_conta}}</option>
						</select><br>
						<label>Valor</label>
						<input class='form-control'  type="number" step="0.01" name="vl_movimento" ng-model="vl_movimento" placeholder='Valor' required><br>
						<label>Vencimento</label>
						<input class='form-control'  type="date" name="dt_vencimento" ng-model="dt_vencimento" placeholder='Data do Vencimento' required><br>				
						<!--
						<select 
							ng-model="cd_tipo"
							ng-options="+tipo.CD as tipo.DS for tipo in tipos track by tipo.CD"
						>
							<option value='' disabled selected>Selecione um Tipo de Conta </option>
						</select>	
						-->
					</fieldset>
					<div class="form-actions center">
						<button 
							type="button" 
							class="btn btn-sm btn-success"
							ng-click="postMovimento(cd_movimento,cd_categoria,cd_conta,vl_movimento,dt_vencimento,cd_competencia)"
						>
							Salvar
							<i class="ace-icon fa fa-arrow-right icon-on-right bigger-110"></i>
						</button>
						<button 
							type="button" 
							class="btn btn-sm btn-danger"
							ng-click="cancel()"
						>
							Cancelar
							<i class="ace-icon fa fa-arrow-right icon-on-right bigger-110"></i>
						</button>
					</div>
				</form>
			</div>
		</div>
	</div> <!-- A L T E R A R-->
	<div class="widget-box"  ng-show='!post'>
		<!-- I N S E R I R-->
		<div class="widget-header">
			<h4 class="widget-title">Novo Movimento</h4>
		</div>
		<div class="widget-body">
			<div class="widget-main no-padding">
				<form>					
					<fieldset>
						
						<select 
							class='form-control'
							ng-model="cd_categoria"
							ng-options="+categoria.CD_CATEGORIA as categoria.NM_CATEGORIAS for categoria in categorias track by categoria.CD_CATEGORIA"
						>
							<option value='' disabled selected>Selecione uma Categoria </option>
						</select><br>
						
						<select 
							class='form-control'
							ng-model="cd_conta"
							ng-options="+conta.CD_CONTA as conta.NM_CONTA for conta in contas track by conta.CD_CONTA"
						>
							<option value='' disabled selected>Selecione uma Conta </option>
						</select><br>
						<input class='form-control' type="number" step="0.01" name="vl_movimento" ng-model="vl_movimento" placeholder='Valor' required><br>
						<input class='form-control' type="date" name="dt_movimento" ng-model="dt_movimento" placeholder='Data do Movimento' required><br>						
						<input class='form-control' type="date" name="dt_vencimento" ng-model="dt_vencimento" placeholder='Data do Vencimento' required><br>						
						<input class='form-control' type="text" name="cd_competencia" ng-model="cd_competencia" placeholder='Competência' required><br>
						<input class='form-control' type="text" name="ds_historico" ng-model="ds_historico" placeholder='Histórico' required><br>
						<input class='form-control' type="number" name="cd_parcela" ng-model="cd_parcela" placeholder='Parcela' required><br>
						<input class='form-control' type="number" name="qt_parcelas" ng-model="qt_parcelas" placeholder='Total de Parcelas' required><br>						
					</fieldset>
					
					<div class="form-actions center">
						<button 
							type="button" 
							class="btn btn-sm btn-success"
							ng-click="putMovimento()"
						>
							Cadastrar
							<i class="ace-icon fa fa-arrow-right icon-on-right bigger-110"></i>
						</button>
					</div>
				</form>
			</div>
		</div>
	</div> <!-- I N S E R I R-->


	
</div>