<div class= 'container customContainer'>
	<table class='table table-bordered table-condensed table-hover'>
		<thead>
			<tr>	<th>Código</th>	<th>Descrição</th>	<th>Pai</th>	<th></th> 	<th></th>	<th></th>	</tr>
		</thead>
		<tbody>
			<tr ng-repeat='row in categorias'>							
				<td>{{row.CD_CATEGORIA}}	</td>
				<td>{{row.NM_CATEGORIAS}}	</td>
				<td>{{row.CD_CATEGORIA_PAI}}</td>
				<td> <create-button modal-id='#create'></create-button>	</td>

				<td ng-click="setScope(row.CD_CATEGORIA,row.NM_CATEGORIAS,row.CD_CATEGORIA_PAI)">
					<edit-button modal-id='#update'></edit-button>				
				</td>				
				<td	delete-button ng-click="delete(row.CD_CATEGORIA)"></td>		
			</tr>	
		</tbody>		
	</table>
</div>

<div id="create" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">  
	<div class="modal-dialog" role="document">
		<div class="modal-content customModalContent">
			<div class="modal-header">        
				<h4 class="modal-title blue bigger" id="myModalLabel">Nova Categoria</h4>
			</div>
			<div class="modal-body" >
				<form>					
					<fieldset>
						<input type="text" 		name="nm_categorias" 	ng-model="nm_categorias" 	placeholder='Descrição' 	required><br><br>
						<input type="number" 	name="cd_categoria_pai" ng-model="cd_categoria_pai" placeholder='Categoria Pai' required><br><br>
					</fieldset>			
				</form>
			</div>
			<div class="modal-footer customModalFooter">
				<save-button 	ng-click="create()"		data-dismiss="modal"	label='Cadastrar' >		</save-button>
				<cancel-button 	ng-click="refresh()" 	data-dismiss="modal">							</cancel-button>
			</div>
		</div>
	</div>
</div>

<div id="update" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">  
	<div class="modal-dialog" role="document">
		<div class="modal-content customModalContent">
			<div class="modal-header">        
				<h4 class="modal-title blue bigger" id="myModalLabel">Alterar Categoria</h4>
			</div>
			<div class="modal-body" >
				<form>					
					<fieldset>
						<label>Descrição</label><br>
						<input type="text" name="nm_categorias" ng-model="nm_categorias" required><br><br>
						<label>Pai:</label><br>
						<input type="number" name="cd_categoria_pai" ng-model="cd_categoria_pai" placeholder='Categoria Pai' value="0" required>
					</fieldset>			
				</form>
			</div>
			<div class="modal-footer customModalFooter">
				<save-button 	ng-click="update(cd_categoria,nm_categorias,cd_categoria_pai)"		data-dismiss="modal"	label='Salvar' >		</save-button>
				<cancel-button 	ng-click="refresh()" 	data-dismiss="modal">							</cancel-button>
			</div>
		</div>
	</div>
</div>