<div 
	id="contasDiv"	
	class= 'container'	
>
	<!--C O N S U L T A R-->
	<table 
		id="contasTable" 
		class='
			table 
			table-bordered 
			table-condensed 			
			table-hover
		'
	>
		<thead>
			<tr>
				<th>Código</th>
				<th>Descrição</th>
				<th>Tipo</th>
				<th>Alterar</th>
				<th>Excluir</th>				
			</tr>				
		</thead>
		<tbody>
			<tr ng-repeat='row in contas'>							
				<td>{{row.CD_CONTA}}</td>
				<td>{{row.NM_CONTA}}</td>
				<td>{{row.DS_TIPO}}</td>
				<td>					
					<button 
						class='btn-primary btn-xs'
						ng-click="changeForm(row.CD_CONTA,row.NM_CONTA,row.CD_TIPO)"
					>
						<div class='ui-pg-div'>							
							<span class="ui-icon ace-icon fa fa-pencil white"></span>
						</div>
					</button>					
				</td>
				<!-- E X C L U I R-->
				<td>
					<button
						class='btn-danger btn-xs' 
						ng-click="deleteContas(row.CD_CONTA)"						
					>
					<div 
						class="ui-pg-div"
					>
						<span class="ui-icon ace-icon fa fa-trash-o white"></span>
					</div>
					</button>
				</td>							
				<!-- E X C L U I R-->
			</tr>	
		</tbody>		
	</table>	
	<!--C O N S U L T A R-->

	<div id='contasForm'>
		<!-- A L T E R A R-->
		<div class="widget-box" ng-show='post'>
			<div class="widget-header">
				<h4 class="widget-title">Alterar Conta</h4>
			</div>

			<div class="widget-body">
				<div class="widget-main no-padding">
					<form >					
						<fieldset>
							<label>Descrição:</label><br>
							<input type="text" name="nm_conta" ng-model="nm_conta" required><br><br>

							<label>Tipo:</label><br>
							<select 
								ng-model="cd_tipo"
								ng-options="+tipo.CD as tipo.DS for tipo in tipos track by tipo.CD"
							>
								<option value='' disabled selected>Selecione um Tipo de Conta </option>
							</select>	
						</fieldset>

						<div class="form-actions center">
							<button 
								type="button" 
								class="btn btn-sm btn-success"
								ng-click="postContas(cd_conta,nm_conta,cd_tipo)"
							>
								Salvar
								<i class="ace-icon fa fa-arrow-right icon-on-right bigger-110"></i>
							</button>
						</div>
					</form>
				</div>
			</div>
		</div> <!-- A L T E R A R-->

		<div class="widget-box"  ng-show='!post'><!-- I N S E R I R-->
			<div class="widget-header">
				<h4 class="widget-title">Nova Conta</h4>
			</div>

			<div class="widget-body">
				<div class="widget-main no-padding">
					<form>					
						<fieldset>
							<input type="text" name="nm_conta" ng-model="nm_conta" placeholder='Descrição' required><br><br>
							<select 
								ng-model="cd_tipo"
								ng-options="+tipo.CD as tipo.DS for tipo in tipos track by tipo.CD"
							>
								<option value='' disabled selected>Selecione um Tipo de Conta </option>
							</select>							
						</fieldset>

						<div class="form-actions center">
							<button 
								type="button" 
								class="btn btn-sm btn-success"
								ng-click="putContas()"
							>
								Cadastrar
								<i class="ace-icon fa fa-arrow-right icon-on-right bigger-110"></i>
							</button>
						</div>
					</form>
				</div>
			</div>
		</div> <!-- I N S E R I R-->
	</div>
</div>