<div ng-controller='resumoMensal'  >
	<div id="competencias">
		<select 
			ng-model='cd_competencia'
			ng-options="competencia.CD_COMPETENCIA as competencia.NM_COMPETENCIA for competencia in competencias"
			ng-change='getResumoMensalJson()'
		>
			<option value='' disabled selected>Selecione uma competência </option>
		</select>
	</div>
	<div>
		<table id="resumoMensal" class='table table-bordered table-striped table-condensed'>
			<thead>
				<tr>	
					<th class='vencimento'> Vencimento</th>
					<th class='conta'>Conta</th>
					<th class='valor'>Valor(R$)</th>
					<th class='tipo'>Tipo</th>
				</tr>				
			</thead>
			<tbody>
				<tr ng-repeat='row in rs'>			
					<td class='vencimento' ng-bind="row.VENCIMENTO"'></td>
					<td class='conta' ng-bind="row.CONTA"'></td>
					<td class='valor'>{{row.VALOR | currency: ''}}</td>
					<td class='tipo' ng-bind="row.TIPO"></td>
				</tr>	
			</tbody>		
		</table>	
	</div>
</div>