#appName{
	margin-left: 20px;
	margin-top: 20px;
}

#resumoMensalDiv{		
	width: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 20px;
	margin-right: 20px;	
}

#resumoMensalTable{		
	width: auto;
	float: left;	
}
#movimentosGrupo{			
	width: auto;
	float: left;	
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 20px;
	margin-right: 20px;
}

#competencias{
	margin-left: 20px;
	margin-top: 20px;		

}

.vencimento{
	width: 1px !important;
	text-align: center;
}
.conta{
	width: auto;
}
.valor{
	text-align: right;	
	width: 1px;
}

.valorNegativo{
	text-align: right;	
	width: 1px;
	color: red;
}
.valorPositivo{
	text-align: right;	
	width: 1px;
	color: blue;
}

.tipo{
	width: 1px;
}