#resumoMensal{		
	width: auto;		
	margin-left: 20px;
	margin-top: 20px;
}

#competencias{
	margin-left: 20px;
	margin-top: 20px;		
}

.vencimento{
	width: 1px;
}
.conta{
	width: 1px;
}
.valor{
	text-align: right;	
	width: 1px;
}
.tipo{
	width: 1px;
}