/*
#appName{
	margin-left: 20px;
	margin-top: 20px;
}

#containerDiv{		
	width: auto;	
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 20px;
	margin-right: 20px;	
	background-color: white;
}

#resumoMensalDiv{		
	width: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 20px;
	margin-right: 20px;	
}

#resumoMensalTable{		
	width: auto;
	float: left;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 20px;
	margin-right: 20px;		
}
*/
#contasForm{
	float: left;	
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 20px;
	margin-right: 20px;
}

#contasTable{		
	width: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 20px;
	margin-right: 20px;	
	max-height: 200px;
	float: left;
	overflow:auto;
}


#movimentosGrupo{			
	width: auto;
	float: left;	
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 20px;
	margin-right: 20px;
}