.customContainer{
	width: auto;
	float: left;	
	background-color: white;
	margin: 20 20 20 20;
	padding: 20 20 20 20;	
}
.customInteger{	text-align: center;}
.customFloat{text-align: right;}
.customNegative{color: #db536a;}
.customPositive{color: #2889ff;}
.customColumn{width: auto;}
.customNegativeRow{background-color: #fdf3f4}
.customPositiveRow{background-color: #f1fdff}